<div id="sidebar">
  <div id="sidebar-wrapper">
    <!-- Sidebar with logo and menu -->
    <h1 id="sidebar-title"><a href="#">管理面板</a></h1>
    <!-- Logo (221px wide) -->
    <a href="#"><img id="logo" src="/admin/images/logo.png"  /></a>
    <!-- Sidebar Profile links -->
    <div id="profile-links"> 欢迎, <a href="#" title="Edit your profile"> <%= username %> </a>
      <br />
      <a href="../">前台首页</a> | <a href="logout" title="注销">注销</a> </div>
    <ul id="main-nav">
      <!-- Accordion Menu -->
      <li>
        <a href="javascript:void(0)" class="nav-top-item no-submenu">控制面板</a>
        <ul>
          <li><a href="navlist">导航管理</a></li>
          <li><a href="navadd">添加导航</a></li>
        </ul>
      </li>

      <% navs.forEach(function(nav){ %>
      <li>
		    <a href="<%= nav.url%>" class="nav-top-item <% if(nav.active){ %><%= 'current' %><%}%>"><%= nav.sort%> </a>
	  	<ul>
  			<% nav.list.forEach(function(obj){ %>
  			<li><a href="<%= obj.url%>"><%= obj.name%></a></li>
  			<% })%>
		</ul>
	  </li>
 	 <% }) %>   
  </div>
</div>
